{% extends 'layout.html' %}

{% block body %}
<div class="container" style="margin:100px;">
    <h2>Most frequently used repositories of {{users['name']}}</h2>
    <div class="list-group">
        {% for x in list_repos %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{x.name}}</h5>
            </div>
            <p class="mb-1">Last activity on: {{x.last_time}}</p>

        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}